body {
  background-color: rgb(0, 255, 213);
  font-family: "Oswald", sans-serif;
}
.weather-application {
  background-color: rgb(159, 205, 50);
  max-width: 800px;
  margin: 30px auto;
  border-radius: 15px;
  text-align: center;
}
header {
  border-bottom: 5px;
  padding: 20px 0 20px 0;
}
main {
  border-bottom: 5px;
  padding: 30px;
}
.search-input {
  border-radius: 10px;
  color: red;
  font-size: 15px;
  padding: 10px 20px 10px 30px;
  margin-top: 20px;
}
.search-button {
  border-radius: 10px;
  color: red;
  font-size: 15px;
  padding: 10px 40px;
  margin-top: 20px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-weather strong {
  color: rgb(255, 215, 192);
}
footer {
  border-top: 5px;
  padding: 30px 0 20px 0;
}
.temperature-details {
  display: flex;
}
img {
  width: size 70px;
  height: 100px;
  line-height: 100px;
}
.temperature-degree {
  font-size: 40px;
  font-weight: bold;
  
}
.temperature-metrics {
  font-size: 35px;
}
